# Base URL
BASE_URL=https://www.saucedemo.com

# SauceDemo users
SAUCEDEMO_STANDARD_USER=standard_user
SAUCEDEMO_LOCKED_USER=locked_out_user
SAUCEDEMO_PROBLEM_USER=problem_user
SAUCEDEMO_PERFORMANCE_USER=performance_glitch_user
SAUCEDEMO_ERROR_USER=error_user
SAUCEDEMO_VISUAL_USER=visual_user

# SauceDemo uses one shared public demo password for these users.
SAUCEDEMO_PASSWORD=secret_sauce

# Local execution mode
NODE_ENV=development
